<h1>客户列表</h1>
<div class="optbtn">
    <!-- <a class="btn btn-info" href="{:U('repair/add')}">新增维修记录</a> -->
</div>

<!-- 列表搜索区域 -->
<div class="row" id="list-search">
    <form method="post">
        <table class="table table-input">
            <colgroup>
                <col width="60">
            </colgroup>
            <tbody>
            <tr>
                <td class="key"><div>输入</div></td>
                <td class="value">
                    <div>
                        <input type="text" class="form-control" placeholder="输入" name="">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- /列表搜索区域 -->

<form method="post">
<!-- 列表表格区域 -->
<div class="row" id="list-grid">
    <table class="table table-bordered table-hover table-grid">
        <!-- <colgroup>
            <col width="30">
            <col width="100">
            <col>
            <col>
            <col width="150">
        </colgroup> -->
        
            <tr>
                <!-- <th><input type="checkbox" widget="check-all" data-check-all-target=".w-check-all"></th> -->
                <th>客户编号</th>
                <th>客户公司</th>
                <th>客户姓名</th>
                <th>客户联系方式</th>
                <th>车牌号</th>
                <!-- <th>操作</th> -->
            </tr>
        <volist name="list" id="val">
            <tr>
                <!-- <th><input type="checkbox" widget="check-all" data-check-all-target=".w-check-all"></th> -->
                <td>{$val.customer_id}</td>
                <td>{$val.customer_company}</td>
                <td>{$val.customer_name}</td>
                <td>{$val.customer_phone}</td>
                <td>{$val.customer_car_number}</td>
                <!-- <td><a href="#">编辑</a></td> -->
            </tr>
        </volist>
        
    </table>
</div>
<!-- /列表表格区域 -->

<!-- 列表操作区域 -->
<div class="row" id="list-op">
    <!-- 全选 -->
<!--     <div class="check">
        <input type="checkbox" widget="check-all" data-check-all-target=".w-check-all">
        <button type="submit" class="btn btn-default" name="op" value="op1">批量操作</button>
        <button type="submit" class="btn btn-default" name="op" value="op2">批量操作</button>
    </div> -->
    <!-- 分页 -->
    {$page}
</div>
<!-- /列表操作区域 -->
</form>

