</div>
</div>
<div id="sidebar">
    <div class="list-group">
        <!-- <a class="list-group-item" href="ajax-upload.php">新增维修记录</a>
        <a class="list-group-item" href="auto-complete.php">新增库存</a>
        <a class="list-group-item" href="auto-complete.php">新增库存</a>
        <a class="list-group-item" href="auto-complete.php">新增库存</a>
        <a class="list-group-item" href="auto-complete.php">新增库存</a> -->
    </div>
</div>
</div>
</div>

<div id="ft">
    <p>&copy;强记汽车维修版权所有</p>
</div>
<import file="dist.js.lib" />
<import file="dist.js.base" />
<import file="js.frame" />
<!-- <import file="js.less-1.5.0" /> -->
</body>
</html>