<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <import type='css' file="dist.style.base" />
    <!-- <link rel="stylesheet" href="http://static.fangdd.me/yun/v1/dist/style/base.css"> -->
    <!--<link rel="stylesheet/less" href="/static/yun/v1/style/bootstrap/bootstrap.less?<?php echo time() ?>">
    <link rel="stylesheet/less" href="/static/yun/v1/style/base.less?<?php echo time() ?>">-->
    <style type="text/css">
        .logo{font-size: 30px;margin-left: 5px;}
    </style>
</head>
<body>

<div id="wrap">
    <div id="hd">
        <!-- 顶部 -->
        <div id="top">
            <div class="well well-sm">
                <div class="row">
                    <div class="links">
<!--                         <dl>
                            <dt>常用链接：</dt>
                            <dd><a href="#">链接A</a></dd>
                            <dd><a href="#">链接B</a></dd>
                        </dl> -->
                    </div>
                    <div class="op">
                        <span class="name">2014-02-11 23:43:00</span>
                        <span class="name">下午好，兔子老板</span>
                        <!-- <a class="pw" href="">密码修改</a> -->
                        <span class="sep">|</span>
                        <a class="logout" href="">退出</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航 -->
        <div id="nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <!-- <a class="logo" href="#">强记汽修管理系统</a> -->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {:$Think.CONTROLLER_NAME === 'Repair' ? 'class="active"' : ''}><a href="{:U('Repair/lists')}">维修管理</a></li>
                        <li {:$Think.CONTROLLER_NAME === 'Customer' ? 'class="active"' : ''}><a href="{:U('Customer/lists')}">客户管理</a></li>
                        <li {:$Think.CONTROLLER_NAME === 'Type' ? 'class="active"' : ''}><a href="{:U('Type/lists')}">项目管理</a></li>
                        <li {:$Think.CONTROLLER_NAME === 'Parts' ? 'class="active"' : ''}><a href="{:U('Parts/lists')}">库存管理</a></li>
                        <li {:$Think.CONTROLLER_NAME === 'System' ? 'class="active"' : ''}><a href="{:U('System/lists')}">系统设置</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="bd">
        <div id="main">
            <div class="inner">